<!DOCTYPE html>
<html lang="es">
	<head>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<meta charset="utf-8">
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title></title>
	</head>
	<body ng-app="MyApp" ng-controller="MyController">

		<div class="container {{remoteConfig[0].foreColor}}">
			<!-- TODO write content here -->
			<button class="btn" ng-click="crear()">CREAR</button>
			<button class="btn" ng-click="cargar()">CARGAR</button>

			<h1 class="{{remoteConfig[0].title}}">{{remoteConfig[0].appName}}</h1>

			<p class="{{remoteConfig[0].textColor}}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		</div>
		
		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<!-- Compiled and minified Materialize -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
		<!-- Init jQuery objects -->
		<script type="text/javascript">
			$(document).ready(function(){

			});
		</script>
		<!-- Latest and minified AngularJS -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
		<!-- Latest Firebase -->
		<script src="https://www.gstatic.com/firebasejs/4.5.2/firebase.js"></script>
		<script>
			// Initialize Firebase
			  var config = {
			    apiKey: "AIzaSyBV-Ld-bXZ5kv5wMfHYAnzvhcbKOn6F3OM",
			    authDomain: "tallersncyt.firebaseapp.com",
			    databaseURL: "https://tallersncyt.firebaseio.com",
			    projectId: "tallersncyt",
			    storageBucket: "tallersncyt.appspot.com",
			    messagingSenderId: "887854075457"
			  };
			firebase.initializeApp(config);
		</script>
		<!-- Compiled and minified AngularFire -->
		<script type="text/javascript" src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
		<!-- application.js -->
		<script type="text/javascript" src="application.js"></script>
	</body>
</html>